.entry-content {
	background-color: 	rgba(254, 254, 254, 0.9);
	padding: 			30px;
}

#annotation_title {
	font-size:			2em;
	margin-left: 		auto;
	margin-right: 		auto;
	width: 				500px;
	text-align: 		center;
}

.anno_padded {
	padding:			15px;
}

.anno_block {
	display: 			block;
}

.anno_white {
	background-color:	white;
}

.anno_grey {
	background-color: 	rgb(240, 240, 240);
}

#wpfooter {
	position: 			relative;
}

table#annotation_table {
	border: 1px solid darkgrey;
	border-collapse: 	collapse;
	margin-right:		auto;
	margin-left:		auto;
}

tr.anno_title {
	background-color:	#788999; 
}

.anno_title>th {
	border-bottom:		none;
	color:				white;	
	font-size:			1.5em;
	font-weight: 		600;
	padding:			10px;
}

.annotation>td {	
	color:				gray;
	min-width:			200px; 
	padding:			10px;
}

.anno_error {
	font-style:			italic;
}

a {
	text-decoration: 	none;
}

tr.anno_delete>td>a {
	color: 				red;
}

#annotation_table>tbody>tr>th:not(:first-child) {
	text-align: left;
}

#annotation_table>tbody>tr:not(:first-child):hover,
#annotation_table>tbody>tr:not(:first-child).hover {
	background-color: 	lightgrey;
}

.anno_inner-list {
	list-style-type:	circle;
}

h2.anno_inline {
	display: 			inline;
}

.annotation-details {
	line-height: 		150%;
	list-style-position:inside;
}

.entry-content a img {
	display: inline;
}

img.anno_triangle {
	border:				none;
	height:				10px;
	margin: 			0 0 0 5px;
	width:				10px;
}

img.anno_img {
	float: 				right;
	margin: 			10px;
	max-height: 		150px;
	max-width: 			150px;
}

.anno_input {
	max-width:			50px;
	min-width:			30px;
	text-align:			center;
	width:				50px;
}

.anno_valign-middle {
	vertical-align: 	middle;
}

#anno_search {
	color: 				black;
	height:				20px;
	float: 				right;
	font-size:			15px;
	font-weight:		normal;
	padding: 			10px;
	width:				180px;
}

.anno_custom_button {
	background: 		white;
	border: 			solid 2px #6496c8;
	border-radius: 		0;
	box-shadow: 		none;
	color: 				#6496c8;
	display: 			inline-block;
	font-size: 			15px;
	line-height:		1.5;
	margin: 			0 5px 0 0;
	padding: 			5px 10px;
}

#anno_button {
	bottom: 			10px;
	position: 			fixed;
	right: 				10px;
}

.anno_custom_button:hover,
.anno_custom_button.hover {
	border-color:		#346392;
	color: 				#346392;
}

.anno_custom_button:active,
.anno_custom_button.active {
	border-color:		#27496d;
	color: 				#27496d;
}