.container {
	font-family: 		Verdana, Geneva, Tahoma, sans-serif;
}

#title {
	font-size:			2em;
	text-align:			center; 
}

.padded {
	padding:			15px;
}

.block {
	display: 			block;
}

.white {
	background-color:	white;
}

#wpfooter {
	position: 			relative;
}

table#annotation-table {
	border-collapse:	collapse;
	margin-right:		auto;
	margin-left:		auto;
}

tr.title {
	background-color:	#788999; 
}

.title>th {
	border:				1px solid lightgray; 
	border-bottom:		none;
	color:				white;	
	font-size:			20px;
	font-weight: 		600;
	padding:			10px;
}

.annotation>td {	
	border:				1px solid black;
	color:				gray;
	min-width:			200px; 
	padding:			10px;
}

.error {
	font-style:			italic;
}

a {
	text-decoration: 	none;
}

tr.delete>td>a {
	color: 				red;
}

.inner-list {
	list-style-type:	circle;
}

h2.inline {
	display: 			inline;
}

.annotation-details {
	line-height: 		150%;
	list-style-position:inside;
}

img.triangle {
	border:				none;
	height:				10px;
	margin: 			-1px 0px 0px 3px;
	width:				10px;
}

img.anno_img {
	float: 				right;
	margin: 			10px;
	max-height: 		150px;
	max-width: 			150px;
}

.input {
	max-width:			50px;
	min-width:			30px;
	text-align:			center;
	width:				50px;
}

.valign-middle {
	vertical-align: 	middle;
}

#search {
	color: 				black;
	height:				20px;
	float: 				right;
	font-size:			15px;
	font-weight:		normal;
	padding: 			10px;
	width:				180px;
}

.custom_button {
	background: 		white;
	border: 			solid 2px #6496c8;
	border-radius: 		0;
	box-shadow: 		none;
	color: 				#6496c8;
	display: 			inline-block;
	font-size: 			15px;
	line-height:		1.5;
	margin: 			0 5px 0 0;
	padding: 			5px 10px;
}

#button {
	bottom: 			10px;
	position: 			fixed;
	right: 				10px;
}

div.button-container {
	background: 		white;
	border-top: 		1px solid grey;
	border-left: 		1px solid grey;
	bottom: 			0;
	height: 			65px;
	position: 			fixed;
	right: 				0;
	width: 				140px;
	z-index: 			100;
}

.custom_button:hover,
.custom_button.hover {
	border-color:		#346392;
	color: 				#346392;
}

.custom_button:active,
.custom_button.active {
	border-color:		#27496d;
	color: 				#27496d;
}